<% content_for :title, "Showing donation" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Showing donation</h1>

  <%= render @donation %>

  <%= link_to "Edit this donation", edit_donation_path(@donation), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  <%= button_to "Destroy this donation", @donation, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
</div>
