<% content_for :title, "Showing charity" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Showing charity</h1>

  <%= render @charity %>

  <%= link_to "Edit this charity", edit_charity_path(@charity), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  <%= button_to "Destroy this charity", @charity, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
</div>
